swagger: '2.0'
info:
  title: GuessIt 2 API
  description: Extract as much information as possible from a video filename, filepath or release name.
  version: 2.1.0
host: api.guessit.io
schemes:
  - https
basePath: /
produces:
  - application/json
consumes:
  - application/json
paths:
  /:
    get:
      description: Compute a Match Object from a filename, filepath or release name.
      parameters:
        - name: filename
          in: query
          description: The filename, filepath or release name to process.
          required: true
          type: string
        - name: options
          in: query
          description: Options to pass.
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Match'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ParametersError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/UnexpectedError'
    post:
      description: Compute a Match Object from given filename, filepath or release name.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GuessItRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Match'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ParametersError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/UnexpectedError'
  /list/:
    get:
      description: Compute a list of Match Objects from a list of filename, filepath or release name. Output list has the same order as input list.
      parameters:
        - name: filename
          in: query
          description: The list of filename or release name
          required: true
          type: array
          items:
            type: string
        - name: options
          in: query
          description: Options to pass
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Match'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ParametersError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/UnexpectedError'
    post:
      description: Compute a list of Match Objects from a list of filename, filepath or release name. Output list has the same order as input list.
      parameters:
        - in: body
          name: body
          description: Object containing list of filename and options
          required: true
          schema:
            $ref: '#/definitions/GuessItListRequest'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Match'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ParametersError'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/UnexpectedError'
  /version/:
    get:
      description: Retrieve version information
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GuessItVersion'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/UnexpectedError'

definitions:
  UnexpectedError:
    type: object
    required:
      - message
    properties:
      message:
        type: string
  ParametersError:
    type: object
    required:
      - message
    properties:
      message:
        type: object
        properties:
          filename:
            type: string
            description: Error message related to filename parameter
          options:
            type: string
            description: Error message related to options parameter
  GuessItRequest:
    type: object
    description: Object containing the filename, filepath or release name, and GuessIt options.
    required:
      - filename
    properties:
      filename:
        type: string
        description: The filename or release name
      options:
        type: object
        description: Options to pass, as an object
  GuessItListRequest:
    type: object
    description: Object containing a list of filename, filepath or release name, and GuessIt options.
    required:
      - filename
    properties:
      filename:
        type: array
        items:
          type: string
        description: The list of filename, filepath or release name
      options:
        type: object
        description: Options to pass, as an object
  Match:
    type: object
    title: Match Object
    description: The same GuessIt Match Object as the one returned with --json option on the CLI.
  GuessItVersion:
    type: object
    title: Version
    required:
      - guessit
      - rest
    properties:
      guessit:
        type: string
        description: Version of GuessIt.
      rest:
        type: string
        description: Version of the GuessIt REST API.
